


.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: gray;
}

.navbar a{ 
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    
}

main { 
    max-width: 1920px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.box {
    width: 700px;
    height: auto;
    border: 1px solid gray;
    overflow: auto;
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

img { 
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

