
nav {
    background-color: lightgrey;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
      background-color: #ddd;
     color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

main { 
    max-width: 840px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

aside { 
    width: 320px;
    margin: 16px;
    border: 1px;
    padding: 16px;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img { 
    width: 200px;
    height: auto;
}

p { 
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
