/* These are W3 lessons*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

li, a, button {
    font-family: "Lexend"; sans-serif;
    font-weight: 500px;
    font-size: 14px;    
    color: #333;    
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 30px 10%;
}

h1  { 
    margin-top: 100px;
}

main { 
    max-width: 840px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

aside { 
    width: 320px;
    margin: 16px;
    border: 1px;
    padding: 16px;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img { 
    width: 200px;
    height: auto;
}

p { 
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    clear: both;
    text-decoration-style: none;
}

.clear {
    clear: both;
}