/* These are W3 lessons*/

 header {
    height: 50px;
    width: auto;
    background-color: #f7f6f6;
 }

ul, li {
    list-style: none;
}

ul, li, a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500px;
    font-size: 14px;    
    color: #0e6a6d;   
    margin-right: 15px;
    float: inline-start;
}

ul, li:hover a{
    color: rgb(255, 0, 0); 
}

.logo {
    margin-left: 20px;
    margin-top: 2px;
    float: left;
}


main { 
    max-width: 840px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

aside { 
    width: 320px;
    margin: 16px;
    border: 1px;
    padding: 20px;
    background-color: #eee;
    color: #333;
    text-align: left;
}


aside img { 
    width: 300px;
    height: auto;
}


p { 
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    clear: both;
    text-decoration-style: none;
}

.clear {
    clear: both;
}