
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1E90FF;
    --secondary-color: #FFFFFF;
    --accent-color: #FFA500;
    --font-family: 'veranda', sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header, main, footer {
    max-width: 840px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.social_media a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.5);
}

.hero article {
   float: right;
   width: 125px;
}

